@font-face {
    font-family: 'Material_Icons';
    src: url('./src/fonts/Material_Icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./src/fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

body{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

html{
    background-color: #444;
    font-family: 'Roboto';
}

#top_bar{
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 5px 10px;
    z-index: 3;
}

#bottom_bar{
    background-color: #333;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 80px;
    z-index: 2;
}

#album_info{
    height: 80px;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

#albumArt{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.178);
}

i{
    color: white;
    font-family: 'Material_Icons';
    font-style: normal;
    cursor: pointer;
}

.iNav{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    transition: .2s;
    font-size: 60px;
}

.iNav:hover, .iSmaller:hover{
    box-shadow: inset 0px 0px 0px 3px white;
}

.iSmaller{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
    transition: .2s;
}

i:active{
    background-color: white;
    color:#444;
    transition: 0s;
}

#albumInfoFlex{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 400px;
}

#songNavigation{
    padding: 10px 0;
    display: flex;
    width: 400px;
    height:60px;
    flex-direction: row;
    justify-content: space-evenly;
}

.albumInfoText{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    color: white;
}

#trackInfo{
    mix-blend-mode: difference;
    height: 70px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0 5px 20px;
}

#colorDisplay{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0;
    height: 50px;
    background-color: white;
}

.colorBox{
    display: flex;
    height: 50px;
    background-color: white;
    flex-grow: 1;
}

#centerAll{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bulb_icon{
    height: 80px;
    width: 80px;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    transition: .2s;
}

#rightCenter{
    height: 474px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.bulb_outer{
    width: 80px;
    height:80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 0px 4px white;
    margin: 20px;
    transition: .2s;
}

.bumb_outer:active{
    transition: 0;
}

#bulbGroupHeading{
    color: #333;
    background-color: white;
    width: 100%;
    font-size: 40px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.bulb_holder{
    display: flex;
    flex-direction: row;
}

#top_title{
    height: 100px;
    width: 100%;
    background-color: white;
    color: #333;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
}

#description{
    color: rgb(216, 216, 216);
    font-size: 24px;
    padding: 0 20px;
}

#spotifyLogin{
    width: 200px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: white;
    background-color: #1db954;
    text-align: center;
    border-radius: 25px;
    transition: .1s;
    outline: none;
}

#spotifyLogin:hover{
    background-color: #179b45;
}

#spotifyLogin:active{
    color:#1db954;
    background-color: white;
}

#add_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    transition: .2s;
    font-size: 40px;
    z-index:100;
}

#add_button:hover{
    box-shadow: inset 0px 0px 0px 3px white; 
}

#add_button:active{
    transition: 0s;
}